extends layout.pug

block content

  //- Navigation bar with a back link
  nav.nav
    a(href='/')
      span &larr;
      |  Back

  //- Main article section for project details
  article.portfolio-projects
    //- Wrapper for layout, using flexbox for responsive design
    .inner-wrapper.flex-row-wrap.two-col
      //- Box containing project information
      .project-info-box.box
        h1 #{project.project_name}
        p #{project.description}

      //- Box containing technologies used and project links
      .project-tech-links-box.box
        h6 Technologies
        ul
          each technology in project.technologies
            li #{technology}

        //- Links to the live demo of the project and the GitHub repository
        a.btn-link(href=project.live_link, target='_blank') Live Demo
        a.btn-link(href=project.github_link, target='_blank') GitHub Repo

    //- Box containing project images
    .project-img-box.box
      img.project-img(src=project.image_urls[1], alt='project image')
      if project.image_urls[2]
        img.project-img(src=project.image_urls[2], alt='project image')
      if project.image_urls[3]
        img.project-img(src=project.image_urls[3], alt='project image')

    //- Repeating navigation bar at the bottom with a back link
    nav.nav
      a(href='/')
        span &larr;
        |  Back
